{{!-- Actor Talents Partial --}}
<div class="talents">
  <h3>Talents</h3>
  <div class="items-list">
    <ol class="items-list">
      {{#each talents as |talent i|}}
      <li class="item flexrow" data-item-id="{{talent._id}}">
        <div class="item-image"><img src="{{talent.img}}" title="{{talent.name}}" width="24" height="24"/></div>
        <div class="item-name">{{talent.name}}</div>
        <div class="item-type">{{talent.system.talentType}}</div>
        <div class="item-controls">
          <a class="item-control item-roll" data-roll-type="talent" title="Use Talent"><i class="fas fa-fist-raised"></i></a>
          <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
          <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
      </li>
      {{/each}}
    </ol>
  </div>
  <div class="item-create">
    <a class="item-create" data-type="talent">Add Talent</a>
  </div>
</div>