{{!-- Spell Details Partial --}}
<div class="spell-details">
  <h3>Spell Properties</h3>
  
  <div class="grid grid-3col">
    <div class="magic-source">
      <label>Magic Source</label>
      <select name="system.magicSource">
        {{#select system.magicSource}}
        <option value="arcane">Arcane</option>
        <option value="divine">Divine</option>
        <option value="occult">Occult</option>
        <option value="primal">Primal</option>
        <option value="psionic">Psionic</option>
        {{/select}}
      </select>
    </div>
    
    <div class="school">
      <label>School</label>
      <select name="system.school">
        {{#select system.school}}
        <option value="abjuration">Abjuration</option>
        <option value="conjuration">Conjuration</option>
        <option value="divination">Divination</option>
        <option value="enchantment">Enchantment</option>
        <option value="evocation">Evocation</option>
        <option value="illusion">Illusion</option>
        <option value="necromancy">Necromancy</option>
        <option value="transmutation">Transmutation</option>
        {{/select}}
      </select>
    </div>
    
    <div class="level">
      <label>Level</label>
      <input type="number" name="system.level" value="{{system.level}}" data-dtype="Number" min="1" max="9"/>
    </div>
  </div>
  
  <div class="grid grid-2col">
    <div class="action-cost">
      <label>Action Cost</label>
      <input type="number" name="system.actionCost" value="{{system.actionCost}}" data-dtype="Number"/>
    </div>
    
    <div class="action-type">
      <label>Action Type</label>
      <select name="system.actionType">
        {{#select system.actionType}}
        <option value="spell">Spell</option>
        <option value="attack">Attack</option>
        <option value="save">Save</option>
        <option value="utility">Utility</option>
        {{/select}}
      </select>
    </div>
  </div>
  
  <div class="components">
    <label>Components</label>
    <div class="flexrow">
      <label><input type="checkbox" name="system.components.verbal" {{checked system.components.verbal}}/> Verbal</label>
      <label><input type="checkbox" name="system.components.somatic" {{checked system.components.somatic}}/> Somatic</label>
      <label><input type="checkbox" name="system.components.material" {{checked system.components.material}}/> Material</label>
      <label><input type="checkbox" name="system.components.focus" {{checked system.components.focus}}/> Focus</label>
    </div>
  </div>
  
  <div class="target">
    <label>Target</label>
    <div class="flexrow">
      <select name="system.target.type">
        {{#select system.target.type}}
        <option value="">None</option>
        <option value="self">Self</option>
        <option value="creature">Creature</option>
        <option value="ally">Ally</option>
        <option value="enemy">Enemy</option>
        <option value="object">Object</option>
        <option value="space">Space</option>
        <option value="radius">Radius</option>
        <option value="sphere">Sphere</option>
        <option value="cylinder">Cylinder</option>
        <option value="cone">Cone</option>
        <option value="cube">Cube</option>
        <option value="line">Line</option>
        <option value="wall">Wall</option>
        {{/select}}
      </select>
      <input type="number" name="system.target.value" value="{{system.target.value}}" data-dtype="Number" placeholder="Size"/>
    </div>
  </div>
  
  <div class="range">
    <label>Range</label>
    <div class="flexrow">
      <input type="number" name="system.range.value" value="{{system.range.value}}" data-dtype="Number" placeholder="Range"/>
      <select name="system.range.units">
        {{#select system.range.units}}
        <option value="ft">Feet</option>
        <option value="mi">Miles</option>
        <option value="touch">Touch</option>
        <option value="self">Self</option>
        <option value="sight">Sight</option>
        <option value="unlimited">Unlimited</option>
        {{/select}}
      </select>
    </div>
  </div>
</div>